# Gradle
.gradle/
build/

# Android Studio
.idea/
*.iml
local.properties

# Generated
.cxx/
.externalNativeBuild/
captures/
.kotlin/
8.10.2/

# OS junk
.DS_Store

# APK / AAB / ZIP
*.apk
*.aab
*.zip

