# Автоматически определять текстовые файлы и конвертировать в LF при коммите
* text=auto

# Жестко зафиксировать LF для shell-скриптов и файлов сборки
*.sh text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
